<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homework1"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/_AppTheme" >
        <activity
            android:name="com.example.homework1.HomepageActivity"
            android:label="@string/title_activity_homepage" >
        </activity>
        <activity
            android:name="com.example.homework1.WelcomeActivity"
            android:label="@string/title_welcome" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.homework1.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="com.example.homework1.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.example.homework1.ChangePasswordActivity"
            android:label="@string/title_activity_change_password" >
        </activity>
        <activity
            android:name="com.example.homework1.WeatherActivity"
            android:label="@string/title_activity_weather"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.homework1.Questions"
            android:label="@string/title_questions">
        </activity>
        <activity
            android:name="com.example.homework1.PetActivity"
            android:label="@string/title_pet">
        </activity>
         <activity
            android:name="com.example.homework1.LinksActivity"
            android:label="@string/title_links">
        </activity>
        
    </application>

</manifest>